
<div>
  <div class="row">
    <h4 class="project-name">{{project.name}}</h4>
  </div>

    <div class="form-group" ng-show="project.descr">
      <label class="control-label" for="description">Description</label>

      <div class="controls">
          <textarea id="description" name="description" class="form-control" rows="3" ng-maxlength="255"
                    ng-model="project.descr" readonly></textarea>
      </div>
    </div>
    <span ng-bind-html="trusted"></span>
  </div>
<!--
  <div class="row">
    <button ng-click="openGallery()">Open Gallery</button>
  </div>
-->

<div class="row">
  <ng-image-gallery images="images" methods="methods" conf="conf" on-open="opened();" on-close="closed();"
                    on-delete="delete(img, cb);"></ng-image-gallery>
</div>

</div>